@media screen and  (max-width: 1080px)
{


a {
    text-decoration: none;
}

* {
    margin: auto;
}

li {
    list-style: none;
}

.top {
  width: 100%;
  background-color: #A7978D;
  position: fixed;
  top:0;
  z-index: 100;
}

.topcontents {
  width: 80%;
  height: 100px;
}

.topcontents ul {
  float: right;
}

.topcontents li {
  float: left;
  color: white;
  margin-right: 60px;
  margin-top: 20px;
  font-size: 40px;
}

.main {
  width: 100%;
  margin-top: 150px;
}

.mainwrapper {
  width: 80%;
  text-align: center;
}

.title {
  text-align:
}

.mainwrapper h3 {
  font-size: 60px;
  color: #A7978D;
  margin-bottom: 30px;
  margin-top: 50px;
}

.title p {
  font-size: 40px;
  color: #A7978D;
  margin-bottom: 30px;
  display: inline-block;
}

.contents {
  margin-top: 50px;
}

.contentsleft {
  float: left;
  width: 10%
}

.contentscenter {
  float: left;
  width: 80%;
  position: relative;
}

.contentscenter p {
  font-size: 30px;
  display: inline-block;
  padding-top: 50px;
  width: 100%;
}

.contentscenter h5 {
  font-size: 30px;
  margin-bottom: 30px;
}

.contentsright {
  width: 10%;
  margin: 0px;
}

.contentsright img {
  height: 300px;
  position: absolute;
  left: 800px;
  top: 300px;
}

.title2 {
  margin-top: 900px;
  margin-bottom: 50px;
}

.skills {
  width: 80%;
}

dt {
  width: 100%;
  padding-top: 70px;
}

dt img {

}

dd {
  width: 90%;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  padding-bottom: 100px;
  border-bottom: 1px solid black;
}

footer {
  width: 100%;
  margin-top: 50px;
}

.footerright {
  float: right;
  margin-right: 100px;
}

.footerright p {
  float: left;
  font-size: 20px;
}

.footerright img {
  height: 150px;
  margin-top: -30px;
}



}
