@media screen and  (max-width: 1080px)
{


a {
    text-decoration: none;
}

* {
    margin: auto;
}

li {
    list-style: none;
}

.top {
  width: 100%;
  background-color: #A7978D;
  position: fixed;
  top:0;
}

.topcontents {
  width: 80%;
  height: 100px;
}

.topcontents ul {
  float: right;
}

.topcontents li {
  float: left;
  color: white;
  margin-right: 60px;
  margin-top: 20px;
  font-size: 40px;
}

header {
  width: 100%;
}

.headercontents {
  width: 80%;
  height: 500px;
}

.header1 {
  height: 300px;
  padding-top: 200px;
}

.header1left {
  display: none;
}

.header1center {
  width: 65%;
  float: left;
  padding-top: 20px;
}

.name {
  font-size: 70px;
  font-family:  sans-serif;
  font-weight: lighter;
}

.job{
  font-size: 50px;
  font-family: 'Kalam', cursive;
}

.header1right {
  width: 30%;
  float: right;
  margin-right: -30px;
}

.header1right img {
  height: 250px;
}

.header2 {
  height: 700px;
}

.header2left {
  display: none;
}

.header2center {
  width: 90%;
  margin-left: 0px;
}

.header2center p {
  font-size: 35px;
  display: inline-block;
}

.header2center img {
  float: right;
  height: 80px;
  margin-top: 60px;
  margin-right: -70px;
}

.header2right {
  display: none;
}

.main {
  width: 100%;
  border-top: 1px solid #A7978D;
  margin-top: 500px;
}

.maincontents {
  height: 1100px;
  text-align: center;
}

.maincontents h3 {
  font-size: 60px;
  color: #A7978D;
  margin-bottom: 30px;
  margin-top: 50px;
}

.workswrapper {
  background-color: #F9ECE5;
  height: 2000px;
}

.works {
  width: 90%;
}

.works1 {
  padding-top: 80px;
  text-align: center;
}

.mainleft {
  width: 90%;
  text-align: center;
}

.mainleft img {
  width: 70%;
}

.mainright4 {
  width: 90%;
  margin-top: 80px;
  text-align: center;
}

.mainright4 img {
  width: 35%;
}

.img3 {
  display: none;
}

.img4 {
  display: none;
}


.works2 {
 margin-top: 50px;
}

.mainright2 {
  width: 90%;
  margin-top: 80px;
}

.mainright2 img {
  width: 50%;
  float: left;
}

.view {
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #A7978D;
}

.view img {
  height: 80px;
}

.contact {
  width: 100%;
  margin-top: 1300px;
}

.contactcontents {
  width: 90%;
  height: 370px;
}

.contactcenter {
  text-align: center;
}

.contactcenter h3 {
  font-size: 60px;
  color: #A7978D;
  margin-bottom: 30px;
}

h4 {
  font-weight: lighter;
}

.contactformbtn input{
  width: 400px;
  margin-top: 50px;
  background-color: #A7978D;
  font-size: 30px;
  height: 50px;
}

footer {
  width: 100%;
}

.footerright img {
  height: 100px;
  margin-top: -20px;
}

.footerright {
  margin-left: 700px;
}

.footerright p {
  float: left;
}

}
